/* NAV BAR */

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background: #ab5d6a;
}

.left-side {
    display: flex;
}

.nav-bar > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: papayawhip;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Body */

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

/* Home page */

.home-image {
    background-image: url("../raincheck/media/night_succulent.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100%;
    min-width: 100%;
}

.home-page-box {
    padding: 20%;
    margin: auto;
    text-transform: uppercase;
    color: papayawhip;
    letter-spacing: 8px;
    text-align: center;
}

.center {
    text-align:center;
    margin: auto;
    padding-top: 50px;
    color: #8a8a8a;
    max-width: 600px;
    padding-bottom: 50px;
}


/* FORMS */

.skinny-form {
    max-width: 30%;
}

input[type=text], input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

