.nav-bar {
    margin-top: 20px;
    padding: 20px;
    list-style: none;
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
    text-transform: uppercase;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}