.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-bar > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}