{% extends "base_generic.html" %}

{% block content %}
    <div class="container-flex home-image" id="home">
        <div class="home-page-box">
            <h1>Cactus hugger</h1>
            Coming Soon
        </div>
    </div>
    <div class="center">
        <h1>About</h1>
        <p>
            My name is Matthew Pavord and I am the lead engineer, designer and founder of cactushugger.com,
            Cactus Hugger allows you to register your cacti and receive email alerts reminding you to water them.
            Why use Cactus Hugger when you have a perfectly good reminder system already you might ask?
            Cactus hugger is special because it will base the alerts on the current weather of the succulent's natural habitat.
        </p>
        <h2>But Why?</h2>
        <p>
            I came up with the idea for cactus hugger when I was put in charge of a cactus by my girlfriend.
            Within one week it was dead, apparently watering a cactus twice in a week does that, who am I to know
            how often you need to water a cactus? Who is anyone to know but Mother Nature herself?
        </p>
    </div>
{#    {%  load static %} <img src="{% static "raincheck/media/night_succulent.jpg" %}" alt="home"/>#}
{% endblock %}