{% extends "base_generic.html" %}

{% block content %}
    <div class="container form-group skinny-form">
        <h1 class="burgundy-title"> Register succulent </h1>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <p class="form-text mt-5">Plant Name</p>
            {{ form.plant_name }}
            <p class="form-text">Location</p>
            {{ form.location }}
            <p class="form-text mt-5">Photo:</p>
            {{ form.image }}
            <input type="submit" value="Add plant" class="mt-5 btn btn-primary">
        </form>
    </div>
{% endblock %}