{% extends "base_generic.html" %}

{% block content %}
    <div class="container" style="text-align: center">
        <div class="burgundy-title"><h1>{{ plant.name }}</h1></div>

        <p><strong>Region: </strong>{{ plant.location.region }}</p>
        <p><strong>Country: </strong>{{ plant.location.country }}</p>
        {% if plant.reference %}
            <p><strong>Reference:</strong> {{ plant.reference }}</p>
        {% endif %}
        <img src="{{  plant.image.url  }}" alt="{{ plant.image.url }}" width="500px" />
    </div>
{% endblock %}